html{
  background-color: gray;
}
#header{
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: orange;
  z-index: 1;
  text-align: center;
  top:0px;

}

footer{
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: orange;
  z-index: 1;
  text-align: center;
  bottom:5px;
  font-style: italic;
}
.rotate270 {
  transform: rotate(270deg);
  position: relative;

}

.rotate90 {
  transform: rotate(90deg);
}

.center img{
  position: relative;
  left: 180px;
  padding: 10px 10px 10px 10px;
  border: dashed pink 5px;
  background-color: gold;
  border-radius: 3px;

}

.center2 img{
  position: relative;
  left: 180px;
  padding: 10px 10px 10px 10px;
  border: outset black 5px;
  background-color: green;
  border-radius: 3px;

}

.center3 img{
  position: relative;
  padding: 10px 10px 10px 10px;
  border: outset black 5px;
  background-color: green;
  border-radius: 3px;
  display: inline;
}




#p1 {
  position: relative;
  left: 180px;
}

#p2{
  position: relative;
  left: 420px;
  top: -65px;
}

#p3{
  position: relative;
  left: 650px;
  top: -155px;
}

#p4 {
  position: relative;
  left: 180px;

}

#p5{
  position: relative;
  left: 420px;
  top: -85px;
}

#p6{
  position: relative;
  left: 650px;
  top: -175px;
}
.center p{
  border: solid 1px black;
  position: relative;
  width: 200px;
}

.center2 p{
  border: solid 1px black;
  position: relative;
  width: 200px;
}

#one{
  width: 1000px;
  height: 400px;
  margin: auto;
  margin-bottom: 100px;
  border: outset 5px gold;
  background-color: pink;
  padding: 5px 5px 5px 5px;
  position: relative;
  top:75px;

}

#two{
  width: 1000px;
  margin: 100px auto 0 auto;
  border: outset 5px blue;
  background-color: orange;
  padding: 5px 5px 5px 5px;

}

#three{
  width: 1000px;
  margin: 100px auto 0 auto;
  border: outset 5px yellow;
  background-color: purple;
  padding: 5px 5px 5px 5px;
}
